[Desktop Entry]
Name=1Password
Exec=/opt/1Password/1password %U
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=1Password
Comment[en_US]=Password manager and secure wallet
X-GNOME-Autostart-Delay=0
